# sbt
target/
project/target/
project/project/

# Metals / Bloop
.metals/
.bloop/
.bsp/*
!.bsp/sbt.json

# IDE
.idea/
*.iml
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# OS
.DS_Store

# Coursier
.cs/

# UI debug tooling
scripts/node_modules/
